*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    background-color: #efefee;
    color: #303030;
}
#form-singin {
  width: 32vw;
  padding: 15px;
  margin: 0 auto;
}
header{
    padding: 2em;
};
.img-header{
    width: 15em;
}
#form-login{
  width: 350px;
  padding: 15px;
  margin: 0 auto; 
}
#form-singin{
    width: 630px;
    padding: 15px;
    margin: 0 auto;
}
textarea{
    height: 12em;
}
.form-control{
    margin-bottom: 0.5em;
}
.box{
    max-width: 500px;
    min-height: 200px;
    margin-right: 1em;
}
b{
    color: black;
}
 .logo-header-peq {
    width: 150px;
}
header{
    padding: 10px;
}
.evento {
    width: 100%;
    background-color: #8F9ECC;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}
.logo-encontro {
    width: 150px;
    margin: 5px 20px 5px 20px;
}
.branco{
    color: white;
    text-shadow: 1px 1px black;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}